<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <a href= "/">Inicio</a>
    <a href="/babbage"><img src="/img/CharlesBabbage.jpg" alt="Charles Babbage"</a>
    <a href="/berners-lee"><img src="/img/BernersLee.jpg" alt="Berners Lee"</a>
    <a href="/clarke"><img src="/img/ArthurClarke.jpg" alt="Arthur Clarke"</a>
    <a href="/hamilton"><img src="/img/MargaretHamilton.jpg" alt="Margaret Hamilton"</a>
    <a href="/hopper"><img src="/img/GraceHopper.jpg" alt="Grace Murray Hopper"</a>
    <a href="/lovelace"><img src="/img/AdaLovelace.jpg" alt="Ada Lovelace"</a>
    <a href="/turing"><img src="/img/Alanturing.jpg" alt="Alan Turing"</a>
</body>
</html>